<div class="header">
	<!-- title -->
	<div class="header-title nav-bar">
		<a
			href="/"
			class="
				text-decoration-none
				navbar-brand
				text-uppercase
				font-weight-bold
				text-dark
			"
			><img src="/img/logo.png" alt="kingsman logo" /><%= headerh1 %></a
		>
	</div>
	<!-- navigation -->
	<% if(currUser) { %>

	<div class="header-nav">
		<a href="/room">
			<button class="btn btn-outline-warning text-dark border-0">
				Fitting Room Three
			</button></a
		>

		<a href="/users/new">
			<button class="btn btn-outline-warning text-dark border-0">
				New User
			</button></a
		>

		<a href="/sessions/login">
			<button class="btn btn-outline-warning text-dark border-0">
				Login
			</button></a
		>

		<a href="/logout">
			<button class="btn btn-outline-warning text-dark border-0">
				Logout
			</button></a
		>
	</div>
	<% } else { %>

	<div class="header-nav">
		<a href="/sessions/login">
			<button class="btn btn-outline-warning text-dark border-0">
				Login
			</button></a
		>
	</div>
	<% } %>
</div>
