<!DOCTYPE html>
<html>
	<%- include("partials/head") %>
	<body>
		<%- include("partials/nav") %>

		<!-- ===== MAIN PUBLIC PAGE CONTENT ===== -->

		<div class="main">
			<!-- image -->
			<img
				src="/img/splash.jpg"
				alt="splash image of kingsman display window"
			/>
			<!-- about -->
			<div class="main-abt">
				<h1 class="text-capitalize fw-bold pt-3 text-warning">
					the modern gentleman's armour: a suit
				</h1>
				As Hemingway said, "There is nothing noble in being superior to your
				fellow man. True nobility is being superior to your former self.""
			</div>
		</div>
	</body>
</html>
