<!DOCTYPE html>
<html>
	<%- include("../partials/head") %>
	<body>
		<%- include("../partials/nav") %>

		<!-- ===== PRIVATE FITTING ROOM 3 CONTENT ===== -->

		<div class="main">
			<!-- image -->
			<img src="/img/fittingroom.jpg" alt="a kingsman's wardrobe" />
			<!-- main content -->
			<div class="main-abt">
				<h1 class="text-capitalize fw-bold pt-3 text-dark text-center">
					access granted: welcome to fitting room 3
				</h1>
				<p>
					Welcome agents, here in fitting room three you can post classified
					messages to fellow agents. Please make sure you keep your username and
					password safe at all times so no one else can acccess this page. And
					remember, we kingsmen are the new knights. So what do you say we save
					the world?
				</p>
			</div>

			<!-- messages -->
			<div class="main-messages">
				<!-- post a new message form -->
				<h1 class="text-capitalize fs-3 fw-bold pt-3 text-center">
					post a message
				</h1>
				<form
					class="new-messages d-flex flex-column"
					action="/room"
					method="POST"
				>
					<textarea
						class="text-capitalize"
						type="text"
						name="messages"
						placeholder="TYPE YOUR MESSAGE HERE..."
					></textarea>
					<button
						type="submit"
						class="btn btn-outline-dark d-flex justify-content-center mt-3"
					>
						Post
					</button>
				</form>

				<!-- displays all messages -->
				<h1 class="text-capitalize fs-3 fw-bold pt-3 text-center">
					the message board
				</h1>
				<ul class="list-group">
					<% users.forEach((user) => { %> <% const {username,messages} =user %>
					<% messages.forEach((msg) => { %>
					<li class="list-group-item">
						<strong><%= username %></strong>: <%= msg %>
					</li>
					<% }) %> <% }) %>
				</ul>
			</div>
		</div>
	</body>
</html>
